.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    background-color: #a8cefa;
    border-radius: .3rem;
    height: 84px;
    text-align: initial;
    color: black;
}

h2 {
    font-size: 2rem;
    text-indent: 10px;
}

.btn-default {
    float: right;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    margin-left: 10px;
}

.btn-logout {
    float: right;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    margin-left: 10px;
}

